.profile {
  max-width: 100%;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 710px) {
  .profile {
    max-width: calc(100% - 19px * 2);
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: calc(100% - 19px * 2);
    flex-direction: column;
    margin: 0 auto;
    padding-top: 42px;
  }
}
