.profile__header {
  /* width: 336px; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

@media screen and (max-width: 710px) {
  .profile__header {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .profile__header {
    max-width: calc(1000% - 19px * 2);
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}
