.profile__header {
  max-width: 336px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 710px) {
  .profile__header {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .profile__header {
    max-width: calc(1000% - 19px * 2);
    flex-direction: row;
  }
}
