.popup__form {
  display: block;
  box-sizing: border-box;
}

@media screen and (max-width: 555px) {
  .popup__form {
    padding-top: 15px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 320px) {
  .popup__form {
    padding: 0;
  }
}
