.elements {
  max-width: 100%;
  min-height: 744px;
  padding: 50px 0 66px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 320px) {
  .elements {
    padding: 36px 19px 0 19px;
    gap: 20px;
  }
}