.profile__info {
  min-width: 336px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 710px) {
  .profile__info {
    max-width: calc(1000% - 19px * 2);
    flex-direction: column;
  }
}

