.profile__info {
  display: flex;
  align-items: center;

}

@media screen and (max-width: 710px) {
  .profile__info {
    width: calc(100% - 19px * 2);
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    width: 100%;
  }
}
