.card__like {
  box-sizing: border-box;
  border: none;
  background: url(../../../images/like.svg) no-repeat center / cover;
  width: 22px;
  height: 19px;
  margin: 0;
  padding: 10px;
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.6s;
}

.card__like:active {
  opacity: 1;
  background: url(../../images/like-activ.svg) no-repeat;
  transition: background 0.6s;
}
